body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 99%;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #f5f5f5;
  height: 60px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 60px;
}
a:hover {
  text-decoration: none;
}
#instapictures img {
  margin-left: 2px;
  margin-right: 2px;
}
