---
layout: default
title: Developer and Enthusiast
quote-to-show: 9
---
<div class="row">
    <div class="col-xs-10">
        <div id="blog">
            {% for post in paginator.posts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ post.title }}</h3><span class="label label-primary"><small>{{ post.date | date_to_string }}</small></span>
                </div>
                <div class="panel-body">
                    {{ post.content }}
                </div>
                <div class="panel-footer">
                    {% for tag in post.tags %}<span class="label label-default"><small>{{ tag }}</small></span> {% endfor %}
                    <div class="pull-right text-right">
                        <small>
                            <a class="label label-default" href="{{post.url}}"><i class="fa fa-link"></i> permalink</a>
                            <a class="label label-default" href="https://www.facebook.com/sharer/sharer.php?u={{site.url | url_escape}}{{post.url | uri_escape}}" target="_blank"><i class="fa fa-facebook"></i> share</a>
                            <a class="label label-default" href="https://twitter.com/share?url={{site.url | url_escape}}{{post.url | uri_escape}}"><i class="fa fa-twitter"></i> tweet</a>
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-2">
        <div>
            <h4>Notable posts</h4>
            <ul class="list-group" id="notables">
                {% for post in paginator.posts %}
                    {% if post.notable == 'True' %}
                        <li class="list-group-item"><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            <h4>Instagram feed</h4>
            <p class="text-center" id="instapictures"></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.instapicture = true;
</script>