---
layout: project
title: The Projects
category: MiPnamic Von Wirklichkeit
group: "projects"
---
<div class="row">
	<div class="col-xs-12">
		<p>As a Developer is too hard to realize that days count a limited amount of hours.</p>
		<p>At the same time is not too hard to realize that this page will not contain all the stuff I'm involved. <small>This list is in Alphabetical order.</small></p>
	</div>
</div>
<div class="row">
    {% assign c = 0 %}
    {% for project in site.data.projects %}
        {% if c == 2 %}
            </div>
            <div class="row">
                {% assign c = 0 %}
        {% endif %}
        <div class="col-xs-5 col-sm-5 col-md-5">
            <p><strong>{{ project.title }}</strong> {% if project.url contains 'http' %}<a href="{{ project.url }}"  target="_blank" rel="me" role="button"><i class="fa fa-external-link"></i></a>{% endif %}<br/>
            <small>{{ project.description }}</small></p>
            <small>{% for tag in project.tags %} <span class="label label-default">{{ tag }}</span>{% endfor %}</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%;">
                    {{ project.progress }}%
                </div>
            </div>
        </div>
        {% assign c = c | plus: 1 %}
    {% endfor %}
</div>