---
layout: default
---
<div class="page-header">
	<h2><small><a href="/{{ page.group }}">{{ page.group }}</a> / </small>{{ page.title }}</h2>
</div>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>
<p>
	<a href="{{page.url}}"><i class="fa fa-link"></i> permalink</a>
	-
	<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | url_escape}}{{page.url | uri_escape}}" target="_blank"><i class="fa fa-facebook"></i> share</a>
	-
	<a href="https://twitter.com/share?url={{site.url | url_escape}}{{page.url | uri_escape}}"><i class="fa fa-twitter"></i> tweet</a>
</p>